body {
  counter-reset: latex-figure-counter latex-table-counter latex-subfigure-counter;
}
html {
  --ctp-mocha-rosewater: #f5e0dc;
  --ctp-mocha-rosewater-1: #eac3bc;
  --ctp-mocha-rosewater-2: #d79b90;
  --ctp-mocha-rosewater-3: #b15d4d;
  --ctp-mocha-rosewater-4: #613a33;
  --ctp-mocha-rosewater-5: #36231f;
  --ctp-mocha-flamingo: #f2cdcd;
  --ctp-mocha-flamingo-1: #e7aeae;
  --ctp-mocha-flamingo-2: #d58484;
  --ctp-mocha-flamingo-3: #ac4848;
  --ctp-mocha-flamingo-4: #5f3131;
  --ctp-mocha-flamingo-5: #351f1f;
  --ctp-mocha-pink: #f5c2e7;
  --ctp-mocha-pink-1: #ecd8a2;
  --ctp-mocha-pink-2: #dcc077;
  --ctp-mocha-pink-3: #b1923f;
  --ctp-mocha-pink-4: #60522e;
  --ctp-mocha-pink-5: #352e1e;
  --ctp-mocha-mauve: #cba6f7;
  --ctp-mocha-mauve-1: #d4baf4;
  --ctp-mocha-mauve-2: #d0b0f5;
  --ctp-mocha-mauve-3: #643ccd;
  --ctp-mocha-mauve-4: #43328c;
  --ctp-mocha-mauve-5: #2a264f;
  --ctp-mocha-red: #f38ba8;
  --ctp-mocha-red-1: #f2c0ad;
  --ctp-mocha-red-2: #f2b49c;
  --ctp-mocha-red-3: #c25b34;
  --ctp-mocha-red-4: #824730;
  --ctp-mocha-red-5: #4b2f24;
  --ctp-mocha-maroon: #eba0ac;
  --ctp-mocha-maroon-1: #efbfb6;
  --ctp-mocha-maroon-2: #edb5ab;
  --ctp-mocha-maroon-3: #bc5541;
  --ctp-mocha-maroon-4: #804337;
  --ctp-mocha-maroon-5: #4a2c27;
  --ctp-mocha-peach: #fab387;
  --ctp-mocha-peach-1: #f4c7ac;
  --ctp-mocha-peach-2: #f6bd9a;
  --ctp-mocha-peach-3: #cc692c;
  --ctp-mocha-peach-4: #874f2c;
  --ctp-mocha-peach-5: #4c3323;
  --ctp-mocha-yellow: #f9e2af;
  --ctp-mocha-yellow-1: #f5e4be;
  --ctp-mocha-yellow-2: #f7e3b7;
  --ctp-mocha-yellow-3: #d0a33f;
  --ctp-mocha-yellow-4: #917332;
  --ctp-mocha-yellow-5: #514426;
  --ctp-mocha-green: #a6e3a1;
  --ctp-mocha-green-1: #baecb6;
  --ctp-mocha-green-2: #b0e7ab;
  --ctp-mocha-green-3: #51b149;
  --ctp-mocha-green-4: #3f7a3a;
  --ctp-mocha-green-5: #2a4828;
  --ctp-mocha-teal: #94e2d5;
  --ctp-mocha-teal-1: #afebe1;
  --ctp-mocha-teal-2: #a1e6db;
  --ctp-mocha-teal-3: #44ad9c;
  --ctp-mocha-teal-4: #37786d;
  --ctp-mocha-teal-5: #264741;
  --ctp-mocha-sky: #89dceb;
  --ctp-mocha-sky-1: #abcfee;
  --ctp-mocha-sky-2: #9ad3ec;
  --ctp-mocha-sky-3: #3aa3b6;
  --ctp-mocha-sky-4: #32717c;
  --ctp-mocha-sky-5: #254348;
  --ctp-mocha-sapphire: #74c7ec;
  --ctp-mocha-sapphire-1: #a1c5ee;
  --ctp-mocha-sapphire-2: #8bc3ec;
  --ctp-mocha-sapphire-3: #338ab0;
  --ctp-mocha-sapphire-4: #2e6178;
  --ctp-mocha-sapphire-5: #233b46;
  --ctp-mocha-blue: #89b4fa;
  --ctp-mocha-blue-1: #adc3f4;
  --ctp-mocha-blue-2: #9bbaf6;
  --ctp-mocha-blue-3: #2c51cd;
  --ctp-mocha-blue-4: #2c3a88;
  --ctp-mocha-blue-5: #23264c;
  --ctp-mocha-lavender: #b4befe;
  --ctp-mocha-lavender-1: #919ef9;
  --ctp-mocha-lavender-2: #6371ec;
  --ctp-mocha-lavender-3: #2f39bf;
  --ctp-mocha-lavender-4: #292b64;
  --ctp-mocha-lavender-5: #1c1d36;
  --ctp-mocha-text: #cdd6f4;
  --ctp-mocha-text-1: #adbaea;
  --ctp-mocha-text-2: #8291d9;
  --ctp-mocha-text-3: #4552b0;
  --ctp-mocha-text-4: #303360;
  --ctp-mocha-text-5: #1e1f35;
  --ctp-mocha-subtext1: #bac2de;
  --ctp-mocha-subtext1-1: #c2cbea;
  --ctp-mocha-subtext1-2: #bdc6e4;
  --ctp-mocha-subtext1-3: #5d67a8;
  --ctp-mocha-subtext1-4: #444979;
  --ctp-mocha-subtext1-5: #2b2c49;
  --ctp-mocha-subtext0: #a6adc8;
  --ctp-mocha-subtext0-1: #b5bfe2;
  --ctp-mocha-subtext0-2: #acb5d6;
  --ctp-mocha-subtext0-3: #5b6192;
  --ctp-mocha-subtext0-4: #42456a;
  --ctp-mocha-subtext0-5: #292a42;
  --ctp-mocha-overlay2: #9399b2;
  --ctp-mocha-overlay2-1: #a8b3da;
  --ctp-mocha-overlay2-2: #9ca4c7;
  --ctp-mocha-overlay2-3: #555a7e;
  --ctp-mocha-overlay2-4: #3e405e;
  --ctp-mocha-overlay2-5: #27283c;
  --ctp-mocha-overlay1: #7f849c;
  --ctp-mocha-overlay1-1: #9ba6d2;
  --ctp-mocha-overlay1-2: #8a93b9;
  --ctp-mocha-overlay1-3: #4d516d;
  --ctp-mocha-overlay1-4: #383a52;
  --ctp-mocha-overlay1-5: #242537;
  --ctp-mocha-overlay0: #6c7086;
  --ctp-mocha-overlay0-1: #8e99cb;
  --ctp-mocha-overlay0-2: #7881ac;
  --ctp-mocha-overlay0-3: #44475e;
  --ctp-mocha-overlay0-4: #323348;
  --ctp-mocha-overlay0-5: #212132;
  --ctp-mocha-surface2: #585b70;
  --ctp-mocha-surface2-1: #7f8bc5;
  --ctp-mocha-surface2-2: #646da2;
  --ctp-mocha-surface2-3: #393b50;
  --ctp-mocha-surface2-4: #2b2c3f;
  --ctp-mocha-surface2-5: #1d1e2d;
  --ctp-mocha-surface1: #45475a;
  --ctp-mocha-surface1-1: #707dbf;
  --ctp-mocha-surface1-2: #555d91;
  --ctp-mocha-surface1-3: #2e2f42;
  --ctp-mocha-surface1-4: #242535;
  --ctp-mocha-surface1-5: #1a1a28;
  --ctp-mocha-surface0: #313244;
  --ctp-mocha-surface0-1: #606cba;
  --ctp-mocha-surface0-2: #474d80;
  --ctp-mocha-surface0-3: #232434;
  --ctp-mocha-surface0-4: #1d1d2b;
  --ctp-mocha-surface0-5: #171723;
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-base-1: #4e5ab7;
  --ctp-mocha-base-2: #393c6f;
  --ctp-mocha-base-3: #181826;
  --ctp-mocha-base-4: #161622;
  --ctp-mocha-base-5: #13131e;
  --ctp-mocha-mantle: #181825;
  --ctp-mocha-mantle-1: #afbbea;
  --ctp-mocha-mantle-2: #8594da;
  --ctp-mocha-mantle-3: #4955b5;
  --ctp-mocha-mantle-4: #353868;
  --ctp-mocha-mantle-5: #25253e;
  --ctp-mocha-crust: #11111b;
  --ctp-mocha-crust-1: #adbaea;
  --ctp-mocha-crust-2: #8291d9;
  --ctp-mocha-crust-3: #4552b0;
  --ctp-mocha-crust-4: #303360;
  --ctp-mocha-crust-5: #1e1f35;
  --ctp-latte-rosewater: #dc8a78;
  --ctp-latte-rosewater-1: #b06453;
  --ctp-latte-rosewater-2: #c87563;
  --ctp-latte-rosewater-3: #dbaea5;
  --ctp-latte-rosewater-4: #debfb9;
  --ctp-latte-rosewater-5: #e2cfcb;
  --ctp-latte-flamingo: #dd7878;
  --ctp-latte-flamingo-1: #b15353;
  --ctp-latte-flamingo-2: #c96363;
  --ctp-latte-flamingo-3: #dca5a5;
  --ctp-latte-flamingo-4: #deb9b9;
  --ctp-latte-flamingo-5: #e2cbcb;
  --ctp-latte-pink: #ea76cb;
  --ctp-latte-pink-1: #bb9e4e;
  --ctp-latte-pink-2: #d5b65f;
  --ctp-latte-pink-3: #e2d2a5;
  --ctp-latte-pink-4: #e2d7b9;
  --ctp-latte-pink-5: #e4ddcb;
  --ctp-latte-mauve: #8839ef;
  --ctp-latte-mauve-1: #4e3ab3;
  --ctp-latte-mauve-2: #6533d7;
  --ctp-latte-mauve-3: #ad86e0;
  --ctp-latte-mauve-4: #bfa6de;
  --ctp-latte-mauve-5: #d0c3e1;
  --ctp-latte-red: #d20f39;
  --ctp-latte-red-1: #994731;
  --ctp-latte-red-2: #b44021;
  --ctp-latte-red-3: #d87c63;
  --ctp-latte-red-4: #d7a091;
  --ctp-latte-red-5: #dcc1b9;
  --ctp-latte-maroon: #e64553;
  --ctp-latte-maroon-1: #af4a40;
  --ctp-latte-maroon-2: #d0493d;
  --ctp-latte-maroon-3: #dc928b;
  --ctp-latte-maroon-4: #dcaea9;
  --ctp-latte-maroon-5: #e0c7c4;
  --ctp-latte-peach: #fe640b;
  --ctp-latte-peach-1: #af5e2f;
  --ctp-latte-peach-2: #d9601a;
  --ctp-latte-peach-3: #e39a70;
  --ctp-latte-peach-4: #dfb39a;
  --ctp-latte-peach-5: #e0cabd;
  --ctp-latte-yellow: #df8e1d;
  --ctp-latte-yellow-1: #9e7439;
  --ctp-latte-yellow-2: #bd812c;
  --ctp-latte-yellow-3: #d6ad75;
  --ctp-latte-yellow-4: #d7be9c;
  --ctp-latte-yellow-5: #ddd0be;
  --ctp-latte-green: #40a02b;
  --ctp-latte-green-1: #49833c;
  --ctp-latte-green-2: #449134;
  --ctp-latte-green-3: #7ac36a;
  --ctp-latte-green-4: #9ecc94;
  --ctp-latte-green-5: #bfd8b9;
  --ctp-latte-teal: #179299;
  --ctp-latte-teal-1: #209bab;
  --ctp-latte-teal-2: #30a6c4;
  --ctp-latte-teal-3: #6ea9cb;
  --ctp-latte-teal-4: #a9bed5;
  --ctp-latte-teal-5: #c9d1df;
  --ctp-latte-sky: #04a5e5;
  --ctp-latte-sky-1: #2d5ca1;
  --ctp-latte-sky-2: #1979c2;
  --ctp-latte-sky-3: #61a8df;
  --ctp-latte-sky-4: #91b5db;
  --ctp-latte-sky-5: #b9c8de;
  --ctp-latte-sapphire: #209fb5;
  --ctp-latte-sapphire-1: #38808c;
  --ctp-latte-sapphire-2: #2c8fa0;
  --ctp-latte-sapphire-3: #67a9cc;
  --ctp-latte-sapphire-4: #93b4d1;
  --ctp-latte-sapphire-5: #b9c7da;
  --ctp-latte-blue: #1e66f5;
  --ctp-latte-blue-1: #344faf;
  --ctp-latte-blue-2: #2255d9;
  --ctp-latte-blue-3: #799be0;
  --ctp-latte-blue-4: #9fb4de;
  --ctp-latte-blue-5: #c0cae0;
  --ctp-latte-lavender: #7287fd;
  --ctp-latte-lavender-1: #4657cb;
  --ctp-latte-lavender-2: #576be9;
  --ctp-latte-lavender-3: #a4b4ec;
  --ctp-latte-lavender-4: #b9c5e8;
  --ctp-latte-lavender-5: #ccd4e6;
  --ctp-latte-text: #4c4f69;
  --ctp-latte-text-1: #565b79;
  --ctp-latte-text-2: #666d91;
  --ctp-latte-text-3: #8c94b0;
  --ctp-latte-text-4: #b3bacc;
  --ctp-latte-text-5: #cbd1dd;
  --ctp-latte-subtext1: #5c5f77;
  --ctp-latte-subtext1-1: #535670;
  --ctp-latte-subtext1-2: #575a73;
  --ctp-latte-subtext1-3: #8990a9;
  --ctp-latte-subtext1-4: #a4aabf;
  --ctp-latte-subtext1-5: #bfc5d4;
  --ctp-latte-subtext0: #6c6f85;
  --ctp-latte-subtext0-1: #5b5e77;
  --ctp-latte-subtext0-2: #63667e;
  --ctp-latte-subtext0-3: #959ab0;
  --ctp-latte-subtext0-4: #acb1c3;
  --ctp-latte-subtext0-5: #c3c8d6;
  --ctp-latte-overlay2: #7c7f93;
  --ctp-latte-overlay2-1: #62657f;
  --ctp-latte-overlay2-2: #6e718a;
  --ctp-latte-overlay2-3: #9fa4b7;
  --ctp-latte-overlay2-4: #b3b8c8;
  --ctp-latte-overlay2-5: #c7ccd8;
  --ctp-latte-overlay1: #8c8fa1;
  --ctp-latte-overlay1-1: #686c88;
  --ctp-latte-overlay1-2: #797d95;
  --ctp-latte-overlay1-3: #aaaebf;
  --ctp-latte-overlay1-4: #babfcd;
  --ctp-latte-overlay1-5: #cacfdb;
  --ctp-latte-overlay0: #9ca0b0;
  --ctp-latte-overlay0-1: #6e7491;
  --ctp-latte-overlay0-2: #858aa0;
  --ctp-latte-overlay0-3: #b4b9c7;
  --ctp-latte-overlay0-4: #c1c6d2;
  --ctp-latte-overlay0-5: #ced3dd;
  --ctp-latte-surface2: #acb0be;
  --ctp-latte-surface2-1: #767c98;
  --ctp-latte-surface2-2: #9196ab;
  --ctp-latte-surface2-3: #bec2cf;
  --ctp-latte-surface2-4: #c7ccd8;
  --ctp-latte-surface2-5: #d1d6e0;
  --ctp-latte-surface1: #bcc0cc;
  --ctp-latte-surface1-1: #7e849f;
  --ctp-latte-surface1-2: #9da2b5;
  --ctp-latte-surface1-3: #c8ccd7;
  --ctp-latte-surface1-4: #ced3dd;
  --ctp-latte-surface1-5: #d5d9e2;
  --ctp-latte-surface0: #ccd0da;
  --ctp-latte-surface0-1: #868ca7;
  --ctp-latte-surface0-2: #a9aec0;
  --ctp-latte-surface0-3: #d2d6df;
  --ctp-latte-surface0-4: #d5d9e2;
  --ctp-latte-surface0-5: #d8dce5;
  --ctp-latte-base: #eff1f5;
  --ctp-latte-base-1: #575c7b;
  --ctp-latte-base-2: #697196;
  --ctp-latte-base-3: #949cb7;
  --ctp-latte-base-4: #c1c7d6;
  --ctp-latte-base-5: #dce0e9;
  --ctp-latte-mantle: #e6e9ef;
  --ctp-latte-mantle-1: #575b7a;
  --ctp-latte-mantle-2: #686f94;
  --ctp-latte-mantle-3: #9098b4;
  --ctp-latte-mantle-4: #bac1d2;
  --ctp-latte-mantle-5: #d4d9e3;
  --ctp-latte-crust: #dce0e8;
  --ctp-latte-crust-1: #565b79;
  --ctp-latte-crust-2: #666d91;
  --ctp-latte-crust-3: #8c94b0;
  --ctp-latte-crust-4: #b3bacc;
  --ctp-latte-crust-5: #cbd1dd;
}
html[data-theme="dark"] {
  --color-pink: var(--ctp-mocha-pink);
  --color-pink-1: var(--ctp-mocha-pink-1);
  --color-pink-2: var(--ctp-mocha-pink-2);
  --color-pink-3: var(--ctp-mocha-pink-3);
  --color-pink-4: var(--ctp-mocha-pink-4);
  --color-pink-5: var(--ctp-mocha-pink-5);
  --color-purple: var(--ctp-mocha-mauve);
  --color-purple-1: var(--ctp-mocha-mauve-1);
  --color-purple-2: var(--ctp-mocha-mauve-2);
  --color-purple-3: var(--ctp-mocha-mauve-3);
  --color-purple-4: var(--ctp-mocha-mauve-4);
  --color-purple-5: var(--ctp-mocha-mauve-5);
  --color-red: var(--ctp-mocha-red);
  --color-red-1: var(--ctp-mocha-red-1);
  --color-red-2: var(--ctp-mocha-red-2);
  --color-red-3: var(--ctp-mocha-red-3);
  --color-red-4: var(--ctp-mocha-red-4);
  --color-red-5: var(--ctp-mocha-red-5);
  --color-error: var(--ctp-mocha-red);
  --color-error-1: var(--ctp-mocha-red-1);
  --color-error-2: var(--ctp-mocha-red-2);
  --color-error-3: var(--ctp-mocha-red-3);
  --color-error-4: var(--ctp-mocha-red-4);
  --color-error-5: var(--ctp-mocha-red-5);
  --color-orange: var(--ctp-mocha-peach);
  --color-orange-1: var(--ctp-mocha-peach-1);
  --color-orange-2: var(--ctp-mocha-peach-2);
  --color-orange-3: var(--ctp-mocha-peach-3);
  --color-orange-4: var(--ctp-mocha-peach-4);
  --color-orange-5: var(--ctp-mocha-peach-5);
  --color-warning: var(--ctp-mocha-peach);
  --color-warning-1: var(--ctp-mocha-peach-1);
  --color-warning-2: var(--ctp-mocha-peach-2);
  --color-warning-3: var(--ctp-mocha-peach-3);
  --color-warning-4: var(--ctp-mocha-peach-4);
  --color-warning-5: var(--ctp-mocha-peach-5);
  --color-yellow: var(--ctp-mocha-yellow);
  --color-yellow-1: var(--ctp-mocha-yellow-1);
  --color-yellow-2: var(--ctp-mocha-yellow-2);
  --color-yellow-3: var(--ctp-mocha-yellow-3);
  --color-yellow-4: var(--ctp-mocha-yellow-4);
  --color-yellow-5: var(--ctp-mocha-yellow-5);
  --color-green: var(--ctp-mocha-green);
  --color-green-1: var(--ctp-mocha-green-1);
  --color-green-2: var(--ctp-mocha-green-2);
  --color-green-3: var(--ctp-mocha-green-3);
  --color-green-4: var(--ctp-mocha-green-4);
  --color-green-5: var(--ctp-mocha-green-5);
  --color-success: var(--ctp-mocha-green);
  --color-success-1: var(--ctp-mocha-green-1);
  --color-success-2: var(--ctp-mocha-green-2);
  --color-success-3: var(--ctp-mocha-green-3);
  --color-success-4: var(--ctp-mocha-green-4);
  --color-success-5: var(--ctp-mocha-green-5);
  --color-title: var(--ctp-mocha-blue);
  --color-title-1: var(--ctp-mocha-blue-1);
  --color-title-2: var(--ctp-mocha-blue-2);
  --color-title-3: var(--ctp-mocha-blue-3);
  --color-title-4: var(--ctp-mocha-blue-4);
  --color-title-5: var(--ctp-mocha-blue-5);
  --color-blue: var(--ctp-mocha-blue);
  --color-blue-1: var(--ctp-mocha-blue-1);
  --color-blue-2: var(--ctp-mocha-blue-2);
  --color-blue-3: var(--ctp-mocha-blue-3);
  --color-blue-4: var(--ctp-mocha-blue-4);
  --color-blue-5: var(--ctp-mocha-blue-5);
  --color-info: var(--ctp-mocha-blue);
  --color-info-1: var(--ctp-mocha-blue-1);
  --color-info-2: var(--ctp-mocha-blue-2);
  --color-info-3: var(--ctp-mocha-blue-3);
  --color-info-4: var(--ctp-mocha-blue-4);
  --color-info-5: var(--ctp-mocha-blue-5);
  --color-text: var(--ctp-mocha-text);
  --color-text-1: var(--ctp-mocha-text-1);
  --color-text-2: var(--ctp-mocha-text-2);
  --color-text-3: var(--ctp-mocha-text-3);
  --color-text-4: var(--ctp-mocha-text-4);
  --color-text-5: var(--ctp-mocha-text-5);
  --color-subtext: var(--ctp-mocha-subtext1);
  --color-subtext-1: var(--ctp-mocha-subtext1-1);
  --color-subtext-2: var(--ctp-mocha-subtext1-2);
  --color-subtext-3: var(--ctp-mocha-subtext1-3);
  --color-subtext-4: var(--ctp-mocha-subtext1-4);
  --color-subtext-5: var(--ctp-mocha-subtext1-5);
  --color-overlay: var(--ctp-mocha-overlay1);
  --color-overlay-1: var(--ctp-mocha-overlay1-1);
  --color-overlay-2: var(--ctp-mocha-overlay1-2);
  --color-overlay-3: var(--ctp-mocha-overlay1-3);
  --color-overlay-4: var(--ctp-mocha-overlay1-4);
  --color-overlay-5: var(--ctp-mocha-overlay1-5);
  --color-surface: var(--ctp-mocha-surface0);
  --color-surface-1: var(--ctp-mocha-surface0-1);
  --color-surface-2: var(--ctp-mocha-surface0-2);
  --color-surface-3: var(--ctp-mocha-surface0-3);
  --color-surface-4: var(--ctp-mocha-surface0-4);
  --color-surface-5: var(--ctp-mocha-surface0-5);
  --color-base: var(--ctp-mocha-base);
  --color-base-1: var(--ctp-mocha-base-1);
  --color-base-2: var(--ctp-mocha-base-2);
  --color-base-3: var(--ctp-mocha-base-3);
  --color-base-4: var(--ctp-mocha-base-4);
  --color-base-5: var(--ctp-mocha-base-5);
  --color-mantle: var(--ctp-mocha-mantle);
  --color-mantle-1: var(--ctp-mocha-mantle-1);
  --color-mantle-2: var(--ctp-mocha-mantle-2);
  --color-mantle-3: var(--ctp-mocha-mantle-3);
  --color-mantle-4: var(--ctp-mocha-mantle-4);
  --color-mantle-5: var(--ctp-mocha-mantle-5);
  --color-lavender: var(--ctp-mocha-lavender);
  --color-lavender-1: var(--ctp-mocha-lavender-1);
  --color-lavender-2: var(--ctp-mocha-lavender-2);
  --color-lavender-3: var(--ctp-mocha-lavender-3);
  --color-lavender-4: var(--ctp-mocha-lavender-4);
  --color-lavender-5: var(--ctp-mocha-lavender-5);
}
html[data-theme="light"] {
  --color-rosewater: var(--ctp-latte-rosewater);
  --color-rosewater-1: var(--ctp-latte-rosewater-1);
  --color-rosewater-2: var(--ctp-latte-rosewater-2);
  --color-rosewater-3: var(--ctp-latte-rosewater-3);
  --color-rosewater-4: var(--ctp-latte-rosewater-4);
  --color-rosewater-5: var(--ctp-latte-rosewater-5);
  --color-teal: var(--ctp-latte-teal);
  --color-teal-1: var(--ctp-latte-teal-1);
  --color-teal-2: var(--ctp-latte-teal-2);
  --color-teal-3: var(--ctp-latte-teal-3);
  --color-teal-4: var(--ctp-latte-teal-4);
  --color-teal-5: var(--ctp-latte-teal-5);
  --color-pink: var(--ctp-latte-pink);
  --color-pink-1: var(--ctp-latte-pink-1);
  --color-pink-2: var(--ctp-latte-pink-2);
  --color-pink-3: var(--ctp-latte-pink-3);
  --color-pink-4: var(--ctp-latte-pink-4);
  --color-pink-5: var(--ctp-latte-pink-5);
  --color-purple: var(--ctp-latte-mauve);
  --color-purple-1: var(--ctp-latte-mauve-1);
  --color-purple-2: var(--ctp-latte-mauve-2);
  --color-purple-3: var(--ctp-latte-mauve-3);
  --color-purple-4: var(--ctp-latte-mauve-4);
  --color-purple-5: var(--ctp-latte-mauve-5);
  --color-red: var(--ctp-latte-red);
  --color-red-1: var(--ctp-latte-red-1);
  --color-red-2: var(--ctp-latte-red-2);
  --color-red-3: var(--ctp-latte-red-3);
  --color-red-4: var(--ctp-latte-red-4);
  --color-red-5: var(--ctp-latte-red-5);
  --color-error: var(--ctp-latte-red);
  --color-error-1: var(--ctp-latte-red-1);
  --color-error-2: var(--ctp-latte-red-2);
  --color-error-3: var(--ctp-latte-red-3);
  --color-error-4: var(--ctp-latte-red-4);
  --color-error-5: var(--ctp-latte-red-5);
  --color-orange: var(--ctp-latte-peach);
  --color-orange-1: var(--ctp-latte-peach-1);
  --color-orange-2: var(--ctp-latte-peach-2);
  --color-orange-3: var(--ctp-latte-peach-3);
  --color-orange-4: var(--ctp-latte-peach-4);
  --color-orange-5: var(--ctp-latte-peach-5);
  --color-warning: var(--ctp-latte-peach);
  --color-warning-1: var(--ctp-latte-peach-1);
  --color-warning-2: var(--ctp-latte-peach-2);
  --color-warning-3: var(--ctp-latte-peach-3);
  --color-warning-4: var(--ctp-latte-peach-4);
  --color-warning-5: var(--ctp-latte-peach-5);
  --color-yellow: var(--ctp-latte-yellow);
  --color-yellow-1: var(--ctp-latte-yellow-1);
  --color-yellow-2: var(--ctp-latte-yellow-2);
  --color-yellow-3: var(--ctp-latte-yellow-3);
  --color-yellow-4: var(--ctp-latte-yellow-4);
  --color-yellow-5: var(--ctp-latte-yellow-5);
  --color-green: var(--ctp-latte-green);
  --color-green-1: var(--ctp-latte-green-1);
  --color-green-2: var(--ctp-latte-green-2);
  --color-green-3: var(--ctp-latte-green-3);
  --color-green-4: var(--ctp-latte-green-4);
  --color-green-5: var(--ctp-latte-green-5);
  --color-success: var(--ctp-latte-green);
  --color-success-1: var(--ctp-latte-green-1);
  --color-success-2: var(--ctp-latte-green-2);
  --color-success-3: var(--ctp-latte-green-3);
  --color-success-4: var(--ctp-latte-green-4);
  --color-success-5: var(--ctp-latte-green-5);
  --color-title: var(--ctp-latte-blue);
  --color-title-1: var(--ctp-latte-blue-1);
  --color-title-2: var(--ctp-latte-blue-2);
  --color-title-3: var(--ctp-latte-blue-3);
  --color-title-4: var(--ctp-latte-blue-4);
  --color-title-5: var(--ctp-latte-blue-5);
  --color-blue: var(--ctp-latte-blue);
  --color-blue-1: var(--ctp-latte-blue-1);
  --color-blue-2: var(--ctp-latte-blue-2);
  --color-blue-3: var(--ctp-latte-blue-3);
  --color-blue-4: var(--ctp-latte-blue-4);
  --color-blue-5: var(--ctp-latte-blue-5);
  --color-info: var(--ctp-latte-blue);
  --color-info-1: var(--ctp-latte-blue-1);
  --color-info-2: var(--ctp-latte-blue-2);
  --color-info-3: var(--ctp-latte-blue-3);
  --color-info-4: var(--ctp-latte-blue-4);
  --color-info-5: var(--ctp-latte-blue-5);
  --color-text: var(--ctp-latte-text);
  --color-text-1: var(--ctp-latte-text-1);
  --color-text-2: var(--ctp-latte-text-2);
  --color-text-3: var(--ctp-latte-text-3);
  --color-text-4: var(--ctp-latte-text-4);
  --color-text-5: var(--ctp-latte-text-5);
  --color-subtext: var(--ctp-latte-subtext1);
  --color-subtext-1: var(--ctp-latte-subtext1-1);
  --color-subtext-2: var(--ctp-latte-subtext1-2);
  --color-subtext-3: var(--ctp-latte-subtext1-3);
  --color-subtext-4: var(--ctp-latte-subtext1-4);
  --color-subtext-5: var(--ctp-latte-subtext1-5);
  --color-overlay: var(--ctp-latte-overlay1);
  --color-overlay-1: var(--ctp-latte-overlay1-1);
  --color-overlay-2: var(--ctp-latte-overlay1-2);
  --color-overlay-3: var(--ctp-latte-overlay1-3);
  --color-overlay-4: var(--ctp-latte-overlay1-4);
  --color-overlay-5: var(--ctp-latte-overlay1-5);
  --color-surface: var(--ctp-latte-surface0);
  --color-surface-1: var(--ctp-latte-surface0-1);
  --color-surface-2: var(--ctp-latte-surface0-2);
  --color-surface-3: var(--ctp-latte-surface0-3);
  --color-surface-4: var(--ctp-latte-surface0-4);
  --color-surface-5: var(--ctp-latte-surface0-5);
  --color-base: var(--ctp-latte-base);
  --color-base-1: var(--ctp-latte-base-1);
  --color-base-2: var(--ctp-latte-base-2);
  --color-base-3: var(--ctp-latte-base-3);
  --color-base-4: var(--ctp-latte-base-4);
  --color-base-5: var(--ctp-latte-base-5);
  --color-mantle: var(--ctp-latte-mantle);
  --color-mantle-1: var(--ctp-latte-mantle-1);
  --color-mantle-2: var(--ctp-latte-mantle-2);
  --color-mantle-3: var(--ctp-latte-mantle-3);
  --color-mantle-4: var(--ctp-latte-mantle-4);
  --color-mantle-5: var(--ctp-latte-mantle-5);
  --color-lavender: var(--ctp-latte-lavender);
  --color-lavender-1: var(--ctp-latte-lavender-1);
  --color-lavender-2: var(--ctp-latte-lavender-2);
  --color-lavender-3: var(--ctp-latte-lavender-3);
  --color-lavender-4: var(--ctp-latte-lavender-4);
  --color-lavender-5: var(--ctp-latte-lavender-5);
}
html {
  --pst-color-primary: var(--color-title) !important;
  --pst-color-primary-text: var(--color-text) !important;
  --pst-color-primary-highlight: #ff0000;
  --sd-color-primary: var(--pst-color-primary) !important;
  --sd-color-primary-text: var(--pst-color-primary-text) !important;
  --sd-color-primary-highlight: var(--pst-color-primary-highlight) !important;
  --pst-color-secondary: #00ff00;
  --pst-color-secondary-text: var(--color-subtext) !important;
  --pst-color-secondary-highlight: #0000ff;
  --sd-color-secondary: var(--pst-color-secondary) !important;
  --sd-color-secondary-text: var(--pst-color-secondary-text) !important;
  --sd-color-secondary-highlight: var(--pst-color-secondary-highlight) !important;
  --pst-color-success: var(--color-success) !important;
  --pst-color-success-text: var(--color-text) !important;
  --pst-color-success-highlight: #ff0000;
  --sd-color-success: var(--pst-color-success) !important;
  --sd-color-success-text: var(--pst-color-success-text) !important;
  --sd-color-success-highlight: var(--pst-color-success-highlight) !important;
  --pst-color-info: var(--color-info) !important;
  --pst-color-info-text: var(--color-text) !important;
  --pst-color-info-highlight: #ff0000;
  --sd-color-info: var(--pst-color-info) !important;
  --sd-color-info-text: var(--pst-color-info-text) !important;
  --sd-color-info-highlight: var(--pst-color-info-highlight) !important;
  --pst-color-warning: var(--color-warning) !important;
  --pst-color-warning-text: var(--color-text) !important;
  --pst-color-warning-highlight: #ff0000;
  --sd-color-warning: var(--pst-color-warning) !important;
  --sd-color-warning-text: var(--pst-color-warning-text) !important;
  --sd-color-warning-highlight: var(--pst-color-warning-highlight) !important;
  --pst-color-danger: var(--color-error) !important;
  --pst-color-danger-text: var(--color-text) !important;
  --pst-color-danger-highlight: #ff0000;
  --sd-color-danger: var(--pst-color-danger) !important;
  --sd-color-danger-text: var(--pst-color-danger-text) !important;
  --sd-color-danger-highlight: var(--pst-color-danger-highlight) !important;
  --pst-color-light: var(--color-surface) !important;
  --pst-color-light-text: var(--color-base) !important;
  --pst-color-light-highlight: #00ff00;
  --sd-color-light: var(--pst-color-light) !important;
  --sd-color-light-text: var(--pst-color-light-text) !important;
  --sd-color-light-highlight: var(--pst-color-light-highlight) !important;
  --pst-color-muted: var(--color-surface) !important;
  --pst-color-muted-text: var(--color-subtext) !important;
  --pst-color-muted-highlight: gray;
  --sd-color-muted: var(--pst-color-muted) !important;
  --sd-color-muted-text: var(--pst-color-muted-text) !important;
  --sd-color-muted-highlight: var(--pst-color-muted-highlight) !important;
  --pst-color-dark: var(--color-subtext) !important;
  --pst-color-dark-text: var(--color-base) !important;
  --pst-color-dark-highlight: #a8a8a8;
  --sd-color-dark: var(--pst-color-dark) !important;
  --sd-color-dark-text: var(--pst-color-dark-text) !important;
  --sd-color-dark-highlight: var(--pst-color-dark-highlight) !important;
  --pst-color-black: var(--color-mantle) !important;
  --pst-color-black-text: var(--color-text) !important;
  --pst-color-black-highlight: #000 !important;
  --sd-color-black: var(--pst-color-black) !important;
  --sd-color-black-text: var(--pst-color-black-text) !important;
  --sd-color-black-highlight: var(--pst-color-black-highlight) !important;
  --pst-color-white: var(--color-text) !important;
  --pst-color-white-text: var(--color-mantle) !important;
  --pst-color-white-highlight: #d9d9d9 !important;
  --sd-color-white: var(--pst-color-white) !important;
  --sd-color-white-text: var(--pst-color-white-text) !important;
  --sd-color-white-highlight: var(--pst-color-white-highlight) !important;
}
html[data-theme="dark"] {
  --pst-color-attention: var(--color-yellow) !important;
  --pst-color-text-base: var(--color-text) !important;
  --pst-color-text-muted: var(--color-subtext) !important;
  --pst-color-shadow: #212121 !important;
  --pst-color-border: var(--color-overlay) !important;
  --pst-color-inline-code: var(--color-orange) !important;
  --pst-color-target: var(--color-orange) !important;
  --pst-color-background: var(--color-base) !important;
  --pst-color-on-background: var(--color-mantle) !important;
  --pst-color-surface: var(--color-surface) !important;
  --pst-color-on-surface: var(--color-overlay) !important;
  --pst-color-link: var(--pst-color-primary) !important;
  --pst-color-link-hover: var(--pst-color-warning) !important;
}
html[data-theme="light"] {
  --pst-color-attention: var(--color-yellow) !important;
  --pst-color-text-base: var(--color-text) !important;
  --pst-color-text-muted: var(--color-subtext) !important;
  --pst-color-shadow: #212121 !important;
  --pst-color-border: var(--color-overlay) !important;
  --pst-color-inline-code: var(--color-teal) !important;
  --pst-color-target: var(--color-orange) !important;
  --pst-color-background: var(--color-base) !important;
  --pst-color-on-background: var(--color-mantle) !important;
  --pst-color-surface: var(--color-surface) !important;
  --pst-color-on-surface: var(--color-overlay) !important;
  --pst-color-link: var(--pst-color-primary) !important;
  --pst-color-link-hover: var(--pst-color-warning) !important;
}
.method .sig.sig-object.py {
  border-top: 5px solid var(--pst-color-primary);
  background-color: var(--color-blue-5);
  padding-inline: 1ch;
}
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(
    .simple
  ) dt.field-even,
dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(
    .simple
  ) dt.field-odd {
  border-left: 3px solid var(--color-orange);
  padding-inline: 2ch;
}
.py.class > .sig.sig-object.py {
  border-top: 7.5px solid var(--color-purple);
  padding-inline: 2ch;
  background-color: var(--color-purple-5);
}
.function > .sig {
  border-top: 7.5px solid var(--color-blue);
  background-color: var(--color-blue-5);
  padding-inline: 2ch;
}
.admonition.warning > .admonition-title {
  background: var(--color-orange-3);
}
.admonition.warning {
  background-color: var(--color-surface);
  border-left: none;
}
.field-list > dd > dl > dt > strong {
  font-family: var(--pst-font-family-monospace);
  color: var(--pst-color-inline-code);
}
@font-face {
  font-family: "Computer Modern";
  src: url("./fonts/cmunbi.ttf");
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url("./fonts/cmunbx.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url("./fonts/cmunti.ttf");
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url("./fonts/cmunrm.ttf");
}
.docutils.container.latex {
  font-family: "Computer Modern";
  border-radius: 1ch;
  border: 2px solid var(--color-lavender);
  background: var(--color-surface);
  padding: 1rem;
  margin-block-end: 1rem;
}
.docutils.container.latex table.table {
  all: revert;
  border-collapse: collapse;
  font-style: normal;
  margin-block-end: 1rem;
}
.docutils.container.latex table.table colgroup {
  display: none;
}
.docutils.container.latex table.table th,
.docutils.container.latex table.table td {
  border: 1px solid var(--color-text);
  padding-block-start: 1px;
  padding-block-end: 2px;
  padding-inline: 1ch;
}
.docutils.container.latex table.table thead * {
  font-weight: normal;
}
.docutils.container.latex table.table thead::after {
  content: "";
  display: block;
  height: 4px;
}
.docutils.container.latex table.table td > * {
  line-height: 1.2em;
  padding: 0px;
  margin: 0px;
}
.docutils.container.latex > p:last-child {
  margin-bottom: 0px;
}
.docutils.container.latex li > * {
  margin-inline-start: 1ch;
}
.latex-figure > img {
  width: 75%;
}
.latex-figure > *:last-child::before {
  counter-increment: latex-figure-counter;
  content: "Figure " counter(latex-figure-counter) ":";
  margin-inline-end: 2ch;
  font-weight: bold;
}
.subfigures {
  counter-reset: latex-subfigure-counter;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4in, 1fr));
  justify-content: stretch;
}
.subfigures > *:last-child {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
}
.subfigures > *:last-child::before {
  counter-increment: latex-figure-counter;
  content: "Figure " counter(latex-figure-counter) ":";
  margin-inline-end: 2ch;
  font-weight: bold;
}
.latex-subfigure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latex-subfigure > img {
  width: 100%;
}
.latex-subfigure > *:last-child::before {
  counter-increment: latex-subfigure-counter;
  content: "(" counter(latex-subfigure-counter, lower-alpha) ")";
  margin-inline-end: 2ch;
}
.latex.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latex.center > * {
  margin: auto;
}
mjx-container {
  font-size: 100% !important;
  font-family: "Computer Modern" !important;
}
.sidenote {
  color: var(--color-subtext);
  font-size: small;
  font-style: italic;
  border-top: 1px solid var(--color-subtext);
  border-bottom: 1px solid var(--color-subtext);
}
.cli-arg.docutils.container {
  margin-inline-start: 5ch;
}
.cli-arg.docutils.container > p:first-child code {
  border: none;
  background: none;
  font-weight: bold;
}
.cli-arg.docutils.container > *:not(:first-child) {
  margin-inline-start: 10ch;
}
.highlight button.copybtn {
  color: var(--color-text) !important;
}
.highlight button.copybtn:hover:not(.success) {
  background-color: var(--color-orange-4);
}
.highlight button.copybtn:hover.success {
  background-color: var(--color-green-4);
}
html[data-theme="dark"] .bd-content img:not(.only-dark):not(.dark-light) {
  background: revert;
  border-radius: revert;
}
html[data-theme="dark"] img:not(.only-dark):not(.dark-light) {
  filter: revert;
}
html[data-theme="light"] .light-dark-mode.docutils.container > *:last-child {
  display: none;
}
html[data-theme="dark"] .light-dark-mode.docutils.container > *:first-child {
  display: none;
}
.bd-article-container {
  max-width: 100% !important;
}
.latex.docutils.container ol ol {
  list-style-type: lower-alpha;
}
.latex.docutils.container ol ol > li::marker {
  content: "(" counter(list-item, lower-alpha) ") ";
}
.example-dropdown {
  --sd-color-card-border: var(--color-green) !important;
}
.example-dropdown summary::before {
  opacity: 0.3 !important;
}
.example-dropdown .sd-summary-title code {
  margin-inline: 1ch;
}
.bd-page-width {
  max-width: 100rem !important;
}
body > div.bd-container .bd-sidebar-primary {
  max-width: 20%;
}
